h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    font-size: inherit;
}

[data-lang]::before {

    content: attr(data-lang);
    position: sticky;
    left: 0;
    top: 0;
    display: block;
    text-align: left;
    color: darkgray;
}

.copyable-code-container {

    position: relative;
}

.copyable-code-button {

    position: absolute;
    top: 6px;
    right: 6px;

    font-size: 1rem;
    background-color: transparent;

    border: none;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.2s;

    cursor: pointer;
}

.copyable-code-button:hover {

    background-color: lightgray;
}

.copyable-code-button::before {

    content: "📋";
}

.copyable-code-button.copied::before {

    content: "✔️";
}

.copyable-block-container {

    position: relative;
    padding-left: 30px;
}

.copyable-block-blockquote {

    padding-top: 2px;
    padding-bottom: 2px;
}

.copyable-block-button {

    position: absolute;
    left: 0px;
    top: 0px;

    font-size: 1rem;
    background-color: transparent;

    border: none;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.2s;

    cursor: pointer;
}

.copyable-block-button:hover {

    background-color: lightgray;
}

.copyable-block-button::before {

    content: "📋";
}

.copyable-block-button.copied::before {

    content: "✔️";
}